/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
/* 
li {
    text-decoration: none;
    color: inherit;
} */

/* BASE STYLES */
.bg_image {
    font-family: 'Inter', sans-serif;
    background-image: url('../../../public/image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

/* OTHER STYLES */
.header {
    background-color: rgba(19, 22, 26, 0.4)
}

.header__content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

/* .logo {
    display: block;
} */

.nav {

}

.nav__list {
    display: flex;
    column-gap: 40px;
}

.nav__item {


}

.nav__link {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.4s;
}

.nav__link:hover,
.nav__link:focus {
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
}
